<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{template.html}">
<body>
	<th:block layout:fragment="content">
		<div class="card" style="margin: 1vw" sec:authorize="hasRole('feed_editor')">
			<div class="card-header">
				Bearbeiten von Channel <span th:text="${bean.title}"></span>
			</div>
			<form th:action="@{/editor/channel/{id}/update(id=${bean.pk})}" method="post" th:object="${bean}">
				<div class="card-body">
					<div class="container-lg">
						<div class="row g-2">
							<div class="col-sm-2">ID</div>
							<div class="col-sm-4">
								<input type="hidden" th:field="*{pk}" /> <span th:text="${bean.pk}"></span>
							</div>
							<div class="col-sm-2">Titel</div>
							<div class="col-sm-4">
								<input type="text" th:field="*{title}" class="form-control" />
							</div>
							<div class="col-sm-2">Beschreibung</div>
							<div class="col-sm-10">
								<textarea th:field="*{description}" class="form-control"></textarea>
							</div>
							<div class="col-sm-2">Link</div>
							<div class="col-sm-4">
								<input type="text" th:field="*{link}" class="form-control" />
							</div>
							<div class="col-sm-2">Sprache</div>
							<div class="col-sm-4">
								<input type="text" th:field="*{language}" class="form-control" />
							</div>
							<div class="col-sm-2">Copyright</div>
							<div class="col-sm-4">
								<input type="text" th:field="*{copyright}" class="form-control" />
							</div>
							<div class="col-sm-2">Datum</div>
							<div class="col-sm-4">
								<input type="date" th:field="*{pubdate}" class="form-control" />
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center">
						<input type="submit" value="Ok" class="btn btn-outline-primary" />&nbsp;<a th:href="@{/editor/list}" class="btn btn-outline-secondary">Abbrechen</a>
					</div>
				</div>
			</form>
		</div>
		<div class="card" style="margin: 1vw">
			<div class="card-header">Zugehörige Feeds in diesem Channel</div>
			<div class="card-body">
				<table id="table" class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Titel</th>
							<th>Inhalt</th>
							<th>Datum</th>
							<th>Aktionen</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="i : ${items}">
							<td style="vertical-align: middle" th:text="${i.pk}"></td>
							<td style="vertical-align: middle" th:text="${i.title}"></td>
							<td style="vertical-align: middle" th:text="${i.description}"></td>
							<td style="vertical-align: middle" th:text="${#temporals.format(i.pubdate, 'dd.MM.yyyy, HH:mm')}"></td>
							<td><a th:href="@{/editor/{channel}/feed/{id}/edit(channel=${bean.pk}, id=${i.pk})}" class="btn btn-outline-secondary"><i class="fas fa-pen"></i></a>
								<button type="button" class="btn btn-outline-danger m-1" data-bs-toggle="modal" th:data-bs-target="'#deleteItemModal' + ${i.pk}">
									<i class="fas fa-trash-alt"></i>
								</button>
								<div class="modal fade" th:id="'deleteItemModal' + ${i.pk}" tabindex="-1" role="dialog">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title">Soll dieser Eintrag wirklich gelöscht werden?</h5>
											</div>
											<div class="modal-body">
												<div th:text="${i.title}" class="erroremp"></div>
												<div th:text="${i.description}"></div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Abbrechen</button>
												<a th:href="@{/editor/{channel}/feed/{id}/delete(channel=${bean.pk}, id=${i.pk})}" class="btn btn-outline-danger m-1">Endgültig löschen</a>
											</div>
										</div>
									</div>
								</div></td>
						</tr>
					</tbody>
				</table>
				<script type="text/javascript">
					$(document)
							.ready(
									function() {
										var localeUrl = '[[@{/locale/{l}.json(l=${#locale})}]]';
										$('#table').DataTable({
											"order" : [ [ 3, 'desc' ] ],
											"columnDefs" : [ {
												"targets" : 3,
												"type" : "date-eu"
											} ],
											"language" : {
												"url" : localeUrl
											}
										});
									});
				</script>
			</div>
			<div class="card-footer">
				<a th:href="@{/editor/{channel}/feed/add(channel=${bean.pk})}" class="btn btn-outline-primary">Neuer Eintrag</a>
				<span class="rightalign" th:if="${version}">Version <span th:text="${version}"></span></span>
			</div>
		</div>
	</th:block>
</body>
</html>