<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{template.html}">
<body>
	<th:block layout:fragment="content">
		<div class="card" style="margin: 1vw" sec:authorize="hasRole('feed_editor')">
			<div class="card-header">
				Bearbeiten von Item <span th:text="${bean.title}"></span>
			</div>
			<form th:action="@{/editor/item/{id}/update(id=${bean.pk})}" method="post" th:object="${bean}">
				<input type="hidden" th:field="*{fkChannel}" />
				<div class="card-body">
					<div class="container-lg">
						<div class="row g-2">
							<div class="col-sm-2">ID</div>
							<div class="col-sm-4">
								<input type="hidden" th:field="*{pk}" /> <span th:text="${bean.pk}"></span>
							</div>
							<div class="col-sm-2">Titel</div>
							<div class="col-sm-4">
								<input type="text" th:field="*{title}" class="form-control" />
							</div>
							<div class="col-sm-2">Inhalt</div>
							<div class="col-sm-10">
								<textarea th:field="*{description}" class="form-control"></textarea>
							</div>
							<div class="col-sm-2">Link</div>
							<div class="col-sm-4">
								<input type="text" th:field="*{link}" class="form-control" />
							</div>
							<div class="col-sm-2">Autor</div>
							<div class="col-sm-4">
								<input type="text" th:field="*{author}" class="form-control" />
							</div>
							<div class="col-sm-2">Datum</div>
							<div class="col-sm-4">
								<input type="datetime-local" th:field="*{pubdate}" class="form-control" />
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center">
						<input type="submit" value="Ok" class="btn btn-outline-primary" />&nbsp;<a th:href="@{/editor/{channel}/edit(channel=${bean.fkChannel})}" class="btn btn-outline-secondary">Abbrechen</a>
					</div>
				</div>
			</form>
		</div>
	</th:block>
</body>
</html>