<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{template.html}">
<body>
	<th:block layout:fragment="content">
		<div class="card" style="margin: 1vw" sec:authorize="hasRole('feed_editor')">
			<div class="card-body">
				<table id="table" class="table table-striped">
					<thead>
						<tr>
							<th>Titel</th>
							<th>Beschreibung</th>
							<th>Aktion</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c : ${channels}">
							<td style="vertical-align: middle"><i class="fas fa-rss"></i>&nbsp;<span th:text="${c.title}"></span></td>
							<td style="vertical-align: middle" th:text="${c.description}"></td>
							<td><a th:href="@{/editor/{channel}/edit(channel=${c.pk})}" class="btn btn-outline-primary"><i class="fas fa-pen"></i></a>&nbsp;
								<button type="button" class="btn btn-outline-danger m-1" data-bs-toggle="modal" th:data-bs-target="'#deleteChannelModal' + ${c.pk}">
									<i class="fas fa-trash-alt"></i>
								</button>
								<div class="modal fade" th:id="'deleteChannelModal' + ${c.pk}" tabindex="-1" role="dialog">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title">
													Soll dieser Channel mit seinen <span th:text="${c.itemSize}"></span> Einträgen wirklich gelöscht werden?
												</h5>
											</div>
											<div class="modal-body">
												<div th:text="${c.title}" class="erroremp"></div>
												<div th:text="${c.description}"></div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Abbrechen</button>
												<a th:href="@{/editor/{channel}/delete(channel=${c.pk})}" class="btn btn-outline-danger m-1">Endgültig löschen</a>
											</div>
										</div>
									</div>
								</div></td>
						</tr>
					</tbody>
				</table>
				<script type="text/javascript">
					$(document)
							.ready(
									function() {
										var localeUrl = '[[@{/locale/{l}.json(l=${#locale})}]]';
										$('#table').DataTable({
											"language" : {
												"url" : localeUrl
											}
										});
									});
				</script>
			</div>
			<div class="card-footer">
				<a th:href="@{/}" class="btn btn-outline-secondary">Ansichtsmodus</a>&nbsp; <a th:href="@{/editor/add}" class="btn btn-outline-primary">Neuer Eintrag</a>
				<span class="rightalign" th:if="${version}">Version <span th:text="${version}"></span></span>
			</div>
		</div>
	</th:block>
</body>
</html>