html {
	height: 100%;
}

body {
	background-image: linear-gradient(to bottom, #99c1f1, #1a5f64)
		!important;
}

.card-body {
	background-color: #ffe;
}

.dataTables_wrapper {
	background-color: white;
	border-radius: 4px;
	border: 1px solid silver;
	padding: 8px;
}

.version {
	position: absolute;
	bottom: 0px;
	right: 0px;
	border: 1px solid silver;
	background: lightgray;
	padding: 4px;
	border-radius: 4px 0px 0px 0px;
}

.dangerdivpos {
	 width: 400px;
	 margin-top: 40vh;
	 margin-bottom: auto;
	 margin-left: auto;
	 margin-right: auto;
	 border: 1px solid darkred;
}

.erroremp {
	font-weight: bolder;
}

.rightalign {
	padding: 6px;
	right: 20px;
	position: fixed;
	color: darkgray;
	
}
