<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Fehler</title>
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css} " />
<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.0/css/all.css} " />
<link th:rel="stylesheet" th:href="@{/css/style.css}" />
<script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</head>

<body>
	<div class="alert alert-danger dangerdivpos">
		<b>Es ist ein Fehler aufgetreten.</b><br /> <br />
		<div style="text-align: center">
			<a th:href="@{/}" class="btn btn-outline-danger">Ach, Mist...</a>
		</div>
	</div>
</body>

</html>