<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{template.html}">
<body>
	<th:block layout:fragment="content">
		<div class="card" style="margin: 1vw">
			<div class="card-body">
				<table id="table" class="table table-striped">
					<thead>
						<tr>
							<td>Name</td>
							<td>Beschreibung</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="f : ${feeds}">
							<td><i class="fas fa-rss"></i>&nbsp;<a th:href="@{/public/{f}(f=${f.title})}" th:text="${f.title}" target="_blank"></a></td>
							<td th:text="${f.description}"></td>
						</tr>
					</tbody>
				</table>
				<script type="text/javascript">
					$(document)
							.ready(
									function() {
										var localeUrl = '[[@{/locale/{l}.json(l=${#locale})}]]';
										$('#table').DataTable({
											"language" : {
												"url" : localeUrl
											}
										});
									});
				</script>
			</div>
			<div class="card-footer">
				<a th:href="@{/editor/list}" class="btn btn-outline-primary">Bearbeitungsmodus</a>&nbsp; 
				<span sec:authorize="hasRole('feed_editor')"><a th:href="@{/logout}" class="btn btn-outline-secondary">Abmelden</a></span>
				<span class="rightalign" th:if="${version}">Version <span th:text="${version}"></span></span>
			</div>
		</div>
	</th:block>
</body>
</html>