<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>RssFeedEditor</title>
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css} " />
<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.0/css/all.css} " />
<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/1.13.2/css/jquery.dataTables.min.css}" />
<link th:rel="stylesheet" th:href="@{/css/style.css}" />
<script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
<script type="application/javascript" th:src="@{/webjars/datatables/1.13.2/js/jquery.dataTables.min.js}"></script>
<script type="application/javascript" th:src="@{/js/date-eu.js}"></script>
</head>

<body>
	<th:block layout:fragment="content">
	</th:block>
</body>

</html>